/*Google Fontos*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
}

/* Estilos básicos */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
#FondoA {
    background-image: url(/imagenes/imagen1.jpeg);
    background-attachment: fixed;
    background-size: cover;
}
/* From Uiverse.io by gharsh11032000 */ 
.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
.button:hover::before {
    scale: 3;
  }
  
.button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
.button:active {
    scale: 1;
  }
/* Estilos de la barra de navegación */
.navbar {
    background-color: #333;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo {
width: 100rem;
position: relative;
align-items: left;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Estilos para el icono del menú en móviles */
.mobile-menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Estilos de las secciones */
.section {
    padding: 60px 20px;
    text-align: center;
    background-color: #000000;
    border-bottom: 1px solid #000000;
    opacity: 0.8;
    color: green;
}

.section:nth-child(even) {
    background-color: #070707;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #fdfdfd;
}

/* Responsividad */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid #555;
    }

    .mobile-menu-icon {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}
/* From Uiverse.io by akshat-patel28 */ 
.form-container {
    width: 350px;
    height: 470px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 55px 30px;
    margin: 0 auto;
    margin-top: 107px;
  }
  
  .title {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
    color: black;
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
  }
  
  .input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
  }
  
  .page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
  }
  
  .page-link-label {
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 9px;
    font-weight: 700;
  }
  
  .page-link-label:hover {
    color: #000;
  }
  
  .form-btn {
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .form-btn:active {
    box-shadow: none;
  }
  
  .sign-up-label {
    font-size: 10px;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .sign-up-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: teal;
    color: teal;
    cursor: pointer;
    font-weight: 800;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .form-container-R {
    width: 350px;
    height: 500px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px 30px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .form-btn-R {
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  #FondoL{
    background-image: url(/imagenes/FondoL2.png);
    background-attachment: fixed;
    background-size: cover;
  }
  #FondoE{
    background-color: #FF8225;
    background-image: url(/imagenes/Principal.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
  #General{
    width: 1000px;
    height: 450px;
    background-color: black;
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin: 0%;
    margin-top: 20px;
    opacity: 0.8;
    color: white;
    margin-left: 20px;
  }

  #Viñetas{
    width: 350px;
    height: 500px;
    background-color: black;
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin-inline-start: 5%;
    margin-top: 30px;
    opacity: 0.8;
    color: white;
    float: left;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1); /* Agregamos la transición para que el efecto sea suave */
  }
  #Viñetas:hover{
    transform: translateY(-10px); /* Levanta el contenedor 10px */
    box-shadow: rgb(255, 255, 255) 0px 10px 25px; /* Agrega una sombra más oscura y profunda */
    opacity: 1; /* Aumenta la opacidad para darle más brillo */
  }
  .buttonP{
    background-image: url(/imagenes/Perfil.png);
    background-size: cover;
    width: 35px; /* ancho del botón */
    height: 35px; /* alto del botón */
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 7px;
    margin-right: 10px;
  }
  .buttonC{
    background-image: url(/imagenes/Chat.png);
    background-size: cover;
    width: 30px; /* ancho del botón */
    height: 30px; /* alto del botón */
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 9px;
  }
  .buttonN{
    background-image: url(/imagenes/Notificación.png);
    background-size: cover;
    width: 25px; /* ancho del botón */
    height: 25px; /* alto del botón */
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10px;
    margin-right: 10px;
  }
  .buttonPD{
    background-image: url(/imagenes/Perfil.png);
    background-size: cover;
    width: 35px; /* ancho del botón */
    height: 35px; /* alto del botón */
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 7px;
    margin-right: 10px;
  }
  .buttonCD{
    background-image: url(/imagenes/Chat.png);
    background-size: cover;
    width: 30px; /* ancho del botón */
    height: 30px; /* alto del botón */
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 9px;
  }
  .buttonND{
    background-image: url(/imagenes/Notificación.png);
    background-size: cover;
    width: 25px; /* ancho del botón */
    height: 25px; /* alto del botón */
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10px;
    margin-right: 10px;
  }
  #MateriasD{
    width: 1000px;
    height: 450px;
    background-color: black;
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin: 0%;
    margin-top: 20px;
    opacity: 0.8;
    color: white;
    margin-left: 20px;
  }
  #TareasD{
    width: 1200px;
    height: 450px;
    background-color: black;
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin: 0%;
    margin-top: 20px;
    opacity: 0.8;
    color: white;
    margin-left: 20px;
  }
  /* Oculta el checkbox */
#show-chat-checkbox {
  display: none;
}

/* Oculta el chat por defecto */
.chat-container {
  display: none;
}

/* Muestra el chat cuando el checkbox está seleccionado */
#show-chat-checkbox:checked + label + .chat-container {
  display: block;
}