/*Google Fontos*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Esto evita el desplazamiento horizontal */
}

/* Quitar el estilo de lista */
.nav-links {
    list-style: none;
    padding: 0;
    display: flex; /* Coloca los botones en línea */
    gap: 10px; /* Espacio entre botones */
}
@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 1rem;
        margin-left: 0;
    }
    .button::before{
        margin: auto;
    }
}


/* Estilos generales de los botones */
.nav-links .button {
    cursor: pointer;
    position: relative;
    padding: 5px 20px;
    font-size: 16px;
    color: rgb(221, 221, 221);  /*color de letra de la barra */
    border: 2px solid #181717;  /*bordes */
    border-radius: 25px;
    background-color: transparent;
    font-weight: 0;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    justify-content: space-around;
}
.nav-links.button:active {
    scale: 1;
}

  /* Efecto hover para los botones */
.nav-links .button:hover {
    color: #f8f8f8;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(255, 246, 227, 0.4);

}

/* color del boton */ 
.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(12, 12, 12);
    border: 2px solid rgb(5, 5, 5);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}
.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgba(172, 172, 172, 0.4); /*color del fondo del boton */
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.button:hover::before {
    scale: 3;
}

.button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(134, 120, 88, 0.4);
}

.button:active {
    scale: 1;
}
/* Estilos de la barra de navegación */

.navbar {
    background-color: #2d2d33; /*color de la barra */
    color: #e7e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

/* Estilos para el icono del menú en móviles */
.mobile-menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Estilos de las secciones */
.section {
    padding: 60px 20px;
    text-align: center;
}

.section:nth-child(even) {
    background-color: #ffffff;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2{
    color: #4CAF50;
}

p {
    font-size: 1.2em;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    position: relative;
}

.button {
    background-color: #181717;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #382727;
}


/* Estilos para el submenú barra cabecera */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #dbdbdb;
    z-index: 1;
}

.submenu a {
    display: block;
    padding: 12px 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.submenu a:hover {
    background-color: #9c9c9c; /*color del submenu a*/
}

/* Mostrar el submenú al pasar el mouse sobre el botón */
li:hover .submenu {
    display: block;
}


/* Responsivo: ajusta el diseño para pantallas más pequeñas */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center; /* Centra las columnas en pantallas pequeñas */
    }
}

.section h1 {
    font-size: 2.5em;
    color: #ffffff; /* Color del título */
    margin-bottom: 20px;
    align-items: center;
}

.section h2 {
    text-align: justify;
    font-size: 18px;
}

/* Contenedor de la imagen */
.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    opacity: 0.9;
}

/* Imagen de la sección */
#dynamic-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Sombra sutil */
    transition: transform 0.5s ease-in-out; /* Transición suave al cambiar */
}

#dynamic-image:hover {
    transform: scale(1.05); /* Efecto zoom al pasar el mouse */
}

/* Texto descriptivo */
.section p {
    font-size: 1.1em;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
    color: #000000;
    
}

#acerca p {
    text-align: justify;
    line-height: 1.6; /* Esto mejora la legibilidad */
    margin: 0 20px;   /* Márgenes laterales para darle espacio */
}

.section {
    padding: 20px;
}

.content-container {
    display: flex;
    align-items: flex-start; /* Alinea la imagen y el texto en la parte superior */
    gap: 20px; /* Espacio entre la imagen y el texto */
}

.image-container {
    flex: 4; /* Esto asegura que la imagen ocupe un porcentaje del espacio */
    max-width: 500px; /* Limita el tamaño máximo de la imagen */
}

.image-container img {
    width: 10%; /* Asegura que la imagen no exceda su contenedor */
    height: auto;
    border-radius: 7px; /* Opción para darle bordes redondeados */
}

.text-container {
    flex: 5; /* El texto ocupará más espacio que la imagen */
    text-align: justify;
    line-height: 3; /* Espacio entre las líneas del texto */
}

/*card*/
/* Estilo general para la fila */
.row {
    margin-top: 20px;
}

  /* Estilo para las tarjetas */
.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

  /* Efecto hover para la tarjeta */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

  /* Estilo para la imagen dentro de la tarjeta */
.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    object-fit: cover;
}

  /* Estilo para el título de la tarjeta */
.card-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
}

  /* Estilo para el texto dentro de la tarjeta */
.card-text {
    color: #666;
    line-height: 1.5;
    font-size: .9rem;
    text-align: justify;
}

  /* Ajuste del padding dentro del cuerpo de la tarjeta */
.card-body {
    padding: 20px;
}

  /* Espaciado entre las columnas */
.g-4 > .col {
    padding: 15px;
}

  /* Responsive design para pantallas más pequeñas */
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}

/*carosel*/
.carousel-inner img {
    height: 600px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Asegura que la imagen ocupe todo el espacio sin distorsionarse */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para los íconos de control */
    border-radius: 50%; /* Redondea los íconos */
}

.carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5); /* Color personalizado para los indicadores */
}

/* Transición del colapso */
.accordion-collapse {
    transition: all 0.4s ease; /* Transición más suave al abrir/cerrar */
}

/*footer*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    padding: 100px 0 50px 0;
    background-color: #000000;
}

.footer-link {
    display: flex;
}

.link {
    width: 300px;
}

.link h3 {
    font-size: 18px;
    color: #d6d6d6;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a {
    font-size: 17px;
    color: #b7b8be;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}

.link a:hover {
    color: #194b7c;
}

.socials {
    display: flex;
    margin-bottom: 15px;
}

.socials a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #000000;
    margin: 0 15px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
}

.socials a:hover {
    background-color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: transparent;
    padding: 14px;
    outline: none;
    border: 2px solid #b7b7cc;
    font-size: 17px;
    margin-bottom: 20px;
    color: #b7b8be;
}

::placeholder {
    color: #b7b8be;
}

.btn {
    background-color: #08c5ff;
    color: #ffffff;
    border: 20px;
}

hr {
    border: 1px solid #ffffff;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

.footer-text p {
    font-size: 15px;
    color: #b7b8be;
}

@media(max-width:991) {

    .footer {
        padding: 30px;
    }

    .footer-link {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials {
        justify-content: center;
    }

    .footer-text {
        text-align: center;
    }
}


/* Estilo del submenu */
.submenu {
    display: none; /* Oculto por defecto */
    position: absolute; /* Posicionar el submenu relativo al botón */
    top: 100%; /* Alinearlo debajo del botón */
    left: 0; /* Alinearlo a la izquierda */
    background-color: white; /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 10px;
    border-radius: 5px;
}

.submenu li {
    margin: 5px 0; /* Espaciado entre los items del submenu */
}

.submenu a {
    color: #300b0b; /* Texto del submenu */
    text-decoration: none; /* Sin subrayado */
    font-size: 0.9rem;
}

/* Mostrar el submenu cuando se pasa el cursor */
.nav-links li:hover .submenu {
    display: block; /* Mostrar el submenu en hover */
}

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 280px;
}

ul.btn {
    float: right;
}

ul.btn li {
    display: inline-block;
    padding: 0 25px;
}

ul.btn li a {
    color: #fff;
    font-size: 16px;
}

ul.btn li:last-child {
    padding-right: 0;
}

.section .img {
    align-items: center;
}


/* Sección Acerca de */
.about-university {
    padding: 100px 0;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

.about-university .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.about-university .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-content {
    flex: 1;
    margin-right: 30px;
}

.text-content h2 {
    font-size: 36px;
    color: #1e90ff;
    margin-bottom: 20px;
    position: relative;
}

.text-content p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #555;
}

.read-more-btn {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 25px;
}

.read-more-btn:hover {
    background-color: #155a8a;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.image-content img:hover {
    transform: scale(1.05);
}

/* Animación de Texto */
.text-content h2::after {
    content: '';
    width: 80px;
    height: 3px;
    background-color: #1e90ff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.3s ease;
}

.text-content h2:hover::after {
    width: 120px;
}

/* Responsivo */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .text-content {
        margin-right: 0;
        text-align: center;
    }

    .image-content {
        margin-top: 20px;
    }
}

input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilo del botón de envío */
.btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Mensaje de éxito */
.success-message {
    display: none;
    color: green;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

/* From Uiverse.io by akshat-patel28 */ 
.form-container {
    width: 350px;
    height: 500px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin: 0 auto;
    margin-top: 100px;
}

.title {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
    color: black;
}
  
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
}
  
.input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}

.page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
}

.page-link-label {
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 9px;
    font-weight: 700;
}

.page-link-label:hover {
    color: #000;
}
  
.form-btn {
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:active {
    box-shadow: none;
}

.sign-up-label {
    margin: 0;
    font-size: 10px;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: teal;
    color: teal;
    cursor: pointer;
    font-weight: 800;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
}

.apple-login-button,
.google-login-button {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 11px;
    gap: 5px;
}
  
.apple-login-button {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
}
  
.google-login-button {
    border: 2px solid #747474;
}
  
.apple-icon,
.google-icon {
    font-size: 18px;
    margin-bottom: 1px;
}

#General{
    width: 1000px;
    height: 450px;
    background-color: black;
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin: 0%;
    margin-top: 20px;
    opacity: 0.8;
    color: white;
    margin-left: 20px;
}

#Viñetas{
    width: 350px;
    height: 500px;
    background-color: black;
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin-inline-start: 5%;
    margin-top: 30px;
    opacity: 0.8;
    color: white;
    float: left;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1); /* Agregamos la transición para que el efecto sea suave */
}
#Viñetas:hover{
    transform: translateY(-10px); /* Levanta el contenedor 10px */
    box-shadow: rgb(255, 255, 255) 0px 10px 25px; /* Agrega una sombra más oscura y profunda */
    opacity: 1; /* Aumenta la opacidad para darle más brillo */
}
.buttonP{
    background-image: url(imagenes/Perfil.png);
    background-size: cover;
    width: 35px; /* ancho del botón */
    height: 35px; /* alto del botón */
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 7px;
    margin-right: 10px;
}
.buttonC{
    background-image: url(imagenes/Chat.png);
    background-size: cover;
    width: 30px; /* ancho del botón */
    height: 30px; /* alto del botón */
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 9px;
}
.buttonN{
    background-image: url(imagenes/Notificación.png);
    background-size: cover;
    width: 25px; /* ancho del botón */
    height: 25px; /* alto del botón */
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10px;
    margin-right: 10px;
}
.buttonPD{
    background-image: url(imagenes/Perfil.png);
    background-size: cover;
    width: 35px; /* ancho del botón */
    height: 35px; /* alto del botón */
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 7px;
    margin-right: 10px;
}
.buttonCD{
    background-image: url(imagenes/Chat.png);
    background-size: cover;
    width: 30px; /* ancho del botón */
    height: 30px; /* alto del botón */
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 9px;
}

.buttonND{
    background-image: url(imagenes/Notificación.png);
    background-size: cover;
    width: 25px; /* ancho del botón */
    height: 25px; /* alto del botón */
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10px;
    margin-right: 10px;
}
#MateriasD{
    width: 1000px;
    height: 450px;
    background-color: black;
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin: 0%;
    margin-top: 20px;
    opacity: 0.8;
    color: white;
    margin-left: 20px;
}
#TareasD{
    width: 1200px;
    height: 450px;
    background-color: black;
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin: 0%;
    margin-top: 20px;
    opacity: 0.8;
    color: white;
    margin-left: 20px;
}
  /* Oculta el checkbox */
#show-chat-checkbox {
    display: none;
}

/* Oculta el chat por defecto */
.chat-container {
    display: none;
}

/* Muestra el chat cuando el checkbox está seleccionado */
#show-chat-checkbox:checked + label + .chat-container {
    display: block;
}

#FondoL{
    background-image: url(/imagenes/FondoL2.png);
    background-attachment: fixed;
    background-size: cover;
}
#FondoE{
    background-color: #FF8225;
    background-image: url(/imagenes/Principal.jpg);
    background-attachment: fixed;
    background-size: cover;
}


/* From Uiverse.io by akshat-patel28 */ 
.form-container {
    width: 350px;
    height: 470px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 55px 30px;
    margin: 0 auto;
    margin-top: 107px;
}

.title {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
    color: black;
}
  
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
}
  
.input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}
 
.page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
}
  
.page-link-label {
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 9px;
    font-weight: 700;
}
  
.page-link-label:hover {
    color: #000;
}
  
.form-btn {
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:active {
    box-shadow: none;
}
  
.sign-up-label {
    font-size: 10px;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: teal;
    color: teal;
    cursor: pointer;
    font-weight: 800;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.form-container-R {
    width: 350px;
    height: 500px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px 30px;
    margin: 0 auto;
    margin-top: 100px;
}
.form-btn-R {
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

